/* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  margin: 20px;
}
mat-error {
  color: red;
}
.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 50px 0;
}

.mat-flat-button {
  margin: 5px;
}

.span {
  margin: 15px;
}

button[type="submit"]{
  background-color:#333;
  color:#fff;
  width:50%;
  text-transform: uppercase;
  font-weight:bold;
}