<div style="text-align:center">
 <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
</div>

<div class="page-header">
    <div class="logo"><img width="150" alt="Planet Express" src="../assets/logo.png" /></div>
    <nav class="nav">
        <div class="nav__link dropdown-link">
            <ul>
                <li>Registration
                    <ul class="dropdown">
                        <li><a class="btn" routerLink="start/start.component.html" routerLinkActive="active">Start Registration</a></li>
                        <li><a class="btn" routerLink="../app/continue/" routerLinkActive="active">Continue Registration</a></li>
                        <li><a class="btn" routerLink="../app/review/" routerLinkActive="active">Review Registration</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav__link">
            <a class="btn" routerLink="manager" routerLinkActive="active">Manager Page</a>
        </div>
        <div class="nav__link">
            <a class="btn" routerLink="admin" routerLinkActive="active">Admin Page</a>
        </div>
    </nav>
</div>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Authentication</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-item" routerLink="/">Home</a>
        <a
          *ngIf="!userService.loggedIn"
          class="nav-item nav-link"
          routerLink="/login"
          >Login</a
        >
        <a
          *ngIf="userService.loggedIn"
          class="nav-item nav-link"
          href=""
          (click)="logout()"
          >Logout</a
        >
        <a
          *ngIf="!userService.loggedIn"
          class="nav-item nav-link"
          routerLink="/register"
          >Register</a
        >
        <a
          *ngIf="userService.loggedIn"
          class="nav-item nav-link"
          routerLink="/profile"
          >Profile</a
        >
      </div>
    </div>
  </nav> -->

<app-home> </app-home>


<div class="footer">
    <div class="footer-item footer-one">
        <p>57th Street, New New York </p>
        <a href="../app/contact/contact.component.html">  Contact  </a> <a href="../app/help/help.component.html">Help</a>
    </div>
</div>


<router-outlet></router-outlet>



