.title{
    text-align: center;
    background-color: #ffffff;
}
.hero-body{
        line-height: 1;
        background-image: 'crashedship.png';
        background-repeat: no-repeat;
        background-position: bottom left;
        background-attachment: fixed;
        background-color: aquamarine;
        font-size: 1em;
        font-family:Arial, Helvetica, sans-serif;
}
.nav-link {
    cursor:pointer;
}
h1, h4, a{
  text-align: center;
}
p{
  text-align: center;
}
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    margin-bottom: 60px;
}
  
.call-out {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
    flex-basis: 30%;
    border-radius: 5%;
}
  
@media (min-width: 900px) {
    .call-outs-container {
      display: flex;
      justify-content: space-between;
    }
}
  
.call-out:nth-child(1) {background-color: aquamarine;}
.call-out:nth-child(2) {background-color: aquamarine;}
.call-out:nth-child(3) {background-color: aquamarine;}


.banner {
    height: 600px;
    max-width: 800px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
    padding: 40px;
    color: white;
}
  
.center-me {
    color: white;
    font-size: 50px;
    margin: auto;
}