@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-image: 'crashedship.png';
  background-color: aquamarine;
}
.nav-link {
    cursor:pointer;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
#faq{
  text-align: center;
}
