<div class="page-content">
        <div class="container">
            <div class="col-1">
                <div class="home-banner">
                    <h1>Welcome to the Home Page
                    </h1>
                    <h2>Seamless navigation of the onboarding process, like traveling on Planet Express!</h2>
                    <p>Please watch the following video on how to successfully use this application.</p>
                </div>
                    <div class="col-1-one">
                            <div class="video-container">
                                <video autoplay muted loop>
                                    <source src="\assets\videoplayback.mp4" type="video/mp4">
                                </video>
                            </div>

                            <div class="login-wrap">
                                    <h1>Log-in To Continue </h1>

                                    <app-login></app-login>
                                    <br />
                                    <app-register></app-register>

                              </div>
             
            </div>
            </div>
            <div class="col-2">
                <div class="photo-id">
                   <p>Photo ID Badge Rendering Template for Employee Name Start Date</p> 
                </div>
                
                <div class="uploadphoto">
                       
                                <input type='file'/>

                
                        <!-- <input type="file"> -->
                    <!-- <form action="myform.cgi"> 
                        <input type="file" name="fileupload" value="fileupload" id="fileupload">
                        <label for="fileupload"> </label> 
                        <input type="image" name="upload" src="../assets/upload.png" alt="Submit" width="35">
                        </form> -->
                    </div>

                <div class="map-container">
                    <div class="slide">
                                          
                        <div class="content">Floor 1
                                <a href="../assets/Floor - 1.JPG" class="livethumbnail"> 
                                    <img src="../assets/Floor - 4.JPG"
                                    width=100% largewidth="480" largeheight="360" /></a>
                        </div> 
                        <div class="content">Floor 2
                                <a href="../assets/Floor - 2.JPG" class="livethumbnail"> 
                                    <img src="../assets/Floor - 4.JPG"
                                    width=100% largewidth="480" largeheight="360" /></a>
                        </div> 
                        <div class="content">Floor 3
                                <a href="../assets/Floor - 3.JPG" class="livethumbnail"> 
                                    <img src="../assets/Floor - 4.JPG"
                                    width=100% largewidth="480" largeheight="360" /></a>
                        </div> 
                        <div class="content">Floor 4
                                 <a href="../assets/Floor - 4.JPG" class="livethumbnail"> 
                                    <img src="../assets/Floor - 4.JPG"
                                     width=100% largewidth="480" largeheight="360" /></a>
                        </div>
                        
                    </div>
                
             
            </div>
        </div>
    </div>
    </div>



<!-- 
 <input type=”file” (change)=”onFileUpload($event)”>  -->
<script>
 $("input").change(function(e) {

    for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
        
        var file = e.originalEvent.srcElement.files[i];
        
        var img = document.createElement("img");
        var reader = new FileReader();
        reader.onloadend = function() {
             img.src = reader.result;
        }
        reader.readAsDataURL(file);
        $("input").after(img);
    }
});
</script>




    