/* You can add global styles to this file, and also import other style files */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

app-root {}



body {
    line-height: 1;
    /*font-family: ;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-image: url("crashedship.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-color: aquamarine;
    font-size: 1em;
}


/* @font-face {
    font-family: ;
    src: url() format("truetype");
  } */

div {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.page-header {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #fafafa;

}

.page-header .logo {
    display: inline-block;
    width: 100px;
    height: 100%;
    padding: 0px 0px;
}

.page-header .nav {
    display: inline-block;
    
    
}

.page-header .nav .nav__link {
    display: inline-block;
    padding: 35px 20px;
    font-size: 20px;
}

.container {
    max-width: 1300px;
    margin: 0;
    text-align: center;
    display: flex;
}

.page-content {}

.page-content .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.page-content .container .col-1 {
    display: flex;
    flex-grow: 2;
    padding: 20px;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
}
.col-1-one{
    background-image: ;
    flex: 1;
    width:100%; 
    border-radius: 20px;  
    height: 100px;
}

.col-1-two{
    background-color:  #F60100;
    width:50%;
    flex: 1;
  }
.page-content .container .col-2 {
    flex-grow: 1;
    padding: 10px;
    width: 0.1%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.footer {
    display: flex;
    background-color: #F60100;
    color: #fff;
    padding: 10px 10px;
}
.footer-item {
    flex: 1;
    background: #F60100;
}

.home-banner {
    width: 100%;
    height: 125px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 50px 25px;
}

.photo-id {
    width: 100%;
    height: 200px;
    background-color: #00A087B2;
    border-radius: 20px;
    text-align: center;
}


.uploadphoto {
    width: 100%;
    height: 50px;
    background-color: yellow;
    font-style: white;
    border-radius: 20px;
    text-align: center;
    border: 5px;
    display: inline-block;
}


.fileupload {
    width: 167px;
    display: block;
}

.upload-image {
    display: inline-block;
}

.map-container {
    width: 100%;
    display: flex;
    height: 625px;
    background-color: #00A087B2;
    border-radius: 10px;
    text-align: inherit;
}
.map .image{
    flex: 1;
}


*/ Here is responsive hover over links ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

@font-face {
        font-family: YourFontFamily;
        src: url("./assets/font/SPACEBAR.ttf") format("truetype");
    }

 .video-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        justify-content: center;
        background-color: black;
        display: flex;
        border-radius: 20px;
        text-align: center;
        padding: 10px 10px;
    }
    
.video {
      min-width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      
}