<div class="container">
    <form class="start">
       
         First Name: <input type="text" name="firstName">
         Middle Name: <input type="text" name="middleName"> 
         Last Name: <input type="text" name="lastName">
         Preferred Name: <input type="text" name="preferredName">
          Age: <input type="number" name="age"> 
          Date of Birth: <input type="date" name="dob">
          Gender:  <input type="radio" name="malegender"> Male
                 <input type="radio" name="femalegender"> Female
          <input type="submit" name="submit">
          
    </form>
</div>